
	<div class="container background">
		<div class="row align-items-center g-5">
			<div class="col-lg-5 col-xl-6 position-relative z-index-1 text-center text-lg-start mb-5 mb-sm-0">
				<h1 class="mb-0 display-6">MyAnimes. Crie sua lista de animes favoritos!</h1>
			</div>
		</div>
	</div>
</section>