/* Estilos personalizados */
body {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;
  // border: solid rgba(0, 0, 0, .15);
}

h1 {
  color: #a02506;
}

.text-icons{
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000000;
  text-align: center;
  font-weight: bold;
  text-decoration-color: #007bff;
  text-decoration-thickness: 2px;
  text-underline-offset: 0.2em;
  text-decoration-style: solid;
}

button.btn.btn-danger.comment-blank {
  padding: 0.4rem;
  margin-left: 0.3rem;
}

.text-info{
  padding: 1rem!important;
}
